<meta charset="UTF-8">
<script src="https://unpkg.com/vue"></script>

<div id="app">
    <p v-if="logged">User logged-in: {{name}}</p>
    <p v-else-if="anon">Going as an anon</p>
    <p v-else>No user logged in </p>
    <button @click="logged = !logged">{{logged ? 'Leave' : 'Enter'}}</button>
    <input type="checkbox" v-model="anon">
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            name: 'Maria',
            logged:false,
            anon: false,
        }
    })
</script>