<!DOCTYPE html>
<link rel="stylesheet" href="styles.css">
<script src="https://unpkg.com/vue"></script>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monster Killer</title>
</head>

<body>

    <div id="app">

        <div class="container-bar">

            <div class="person-container">
                <span>Player</span>
                <div class="player_bar">
                    <div :style="[playerBarStyle]"></div>
                </div> <span>{{pLife}}%</span>
            </div>

            <div class="person-container">
                <span>Monster</span>
                <div class="monster_bar">
                    <div :style="[monsterBarStyle]"></div>
                </div> <span>{{mLife}}%</span>
            </div>

        </div>

        <div class="container-start" v-if="statusGame == null || statusGame == 0">
            <p v-if="endGame == true && statusGame == 0"> Oh, you has give up! Wanna try again?</p>
            <button class="game" @click="startGame"> Start</button>
        </div>

        <div class="container-start" v-else-if="statusGame == 2">
            <p>You won that game! =)</p>
            <button class="game" @click="startGame">New game</button>
        </div>

        <div class="container-start" v-else-if="statusGame == 3">
            <p>You lost the game! =(</p>
            <button class="game" @click="startGame"> Try again</button>
        </div>


        <div v-else class="container-button">
            <button class="atk" @click="playerAttack">Attack</button>
            <button class="sp_atk" @click="playerSpAttack">Special Attack Cooldoown: {{countSpA}}</button> 
            <button class="heal" @click="playerHeal">Heal Cooldoown: {{countHeal}}</button>
            <button class="ff" @click="surrender">Surrender</button>
        </div>

        <div class="container-rules" v-if="statusGame == null || statusGame == 0 && endGame == false">
            <p>Rules</p>
            <p class="rules_message">In the game you will have 4 options each turn against the monster! They are:</p>
            <p class="rules_message">Attack: You will attack the monster and deal 3 - 10 damage.</p>
            <p class="rules_message">Special Attack: You will use your Special Attack and deal 11 - 17 damage, but this skill enter in cooldown for 3 turns.</p>
            <p class="rules_message">Heal: You will heal yourself  in 4 - 12 points of life, but this skill enter in cooldown for 3 turns.</p>
            <p class="rules_message">Surrender: You give up the game.</p>
            <p class="rules_message">After one of the option, the monster will attack you dealing 7 - 20 damage in your life points. Except when you use heal option.</p>
            <p class="rules_message">*Note:Remember that you ALWAYS moves first.</p>
            <p>Win Condition</p>
            <p class="rules_message">KILL THE MONSTER!</p>
            <span></span>
        </div>

        <div v-if="mLife != 100 || pLife != 100" v-for="l in logList.slice().reverse()">
            <hr>
            <span class="container-log">{{l}}</span>
            <hr>
        </div>

    </div>


</body>
<script src="app.js"></script>

</html>